/* Pasting in this CSS file, will likely change CSS strategy to be more React-centric */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.incrementer{
    @apply rounded-sm w-8 h-8 p-0 flex flex-none justify-center items-center border border-foreground text-foreground bg-background active:text-background active:bg-foreground;
}

.time-input{
  @apply border-t border-b border-foreground leading-8;
  input {
    @apply appearance-none border-0 bg-background text-foreground h-8 py-0 px-2 text-center;
  }
}